#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb #s-raised_Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3b6da12c-4f4a-4004-b276-55d7c6d85cfb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}