#s-5f6d4879-4845-4625-8561-738c97ee9a28 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f6d4879-4845-4625-8561-738c97ee9a28 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f6d4879-4845-4625-8561-738c97ee9a28 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f6d4879-4845-4625-8561-738c97ee9a28 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f6d4879-4845-4625-8561-738c97ee9a28 #s-Rectangle_1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.3907311284892737,M12=-0.9205048534524404,M21=0.9205048534524404,M22=0.3907311284892737);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.3907311284892737,M12=-0.9205048534524404,M21=0.9205048534524404,M22=0.3907311284892737);
  margin-left: 50px;
  margin-top: -80px;
}
#s-5f6d4879-4845-4625-8561-738c97ee9a28 #s-Rectangle_2 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7986355100472928,M12=-0.6018150231520483,M21=0.6018150231520483,M22=0.7986355100472928);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7986355100472928,M12=-0.6018150231520483,M21=0.6018150231520483,M22=0.7986355100472928);
  margin-left: 1px;
  margin-top: -10px;
}
#s-5f6d4879-4845-4625-8561-738c97ee9a28 #s-Rectangle_3 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-0.9961946980917455,M12=-0.0871557427476582,M21=0.0871557427476582,M22=-0.9961946980917455);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-0.9961946980917455,M12=-0.0871557427476582,M21=0.0871557427476582,M22=-0.9961946980917455);
  margin-left: -2px;
  margin-top: -4px;
}
#s-5f6d4879-4845-4625-8561-738c97ee9a28 #s-Callout_1 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-5f6d4879-4845-4625-8561-738c97ee9a28 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f6d4879-4845-4625-8561-738c97ee9a28 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f6d4879-4845-4625-8561-738c97ee9a28 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5f6d4879-4845-4625-8561-738c97ee9a28 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}