#s-6e87722a-876a-45ab-82f1-ba64bd94d05e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6e87722a-876a-45ab-82f1-ba64bd94d05e #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6e87722a-876a-45ab-82f1-ba64bd94d05e #s-Ellipse_1 {
  stroke-width: 6px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-6e87722a-876a-45ab-82f1-ba64bd94d05e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6e87722a-876a-45ab-82f1-ba64bd94d05e #s-Rectangle_1 {
  -ms-transform: rotate(67.0deg);
}
#s-6e87722a-876a-45ab-82f1-ba64bd94d05e #s-Rectangle_2 {
  -ms-transform: rotate(37.0deg);
}
#s-6e87722a-876a-45ab-82f1-ba64bd94d05e #s-Rectangle_3 {
  -ms-transform: rotate(175.0deg);
}
#s-6e87722a-876a-45ab-82f1-ba64bd94d05e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6e87722a-876a-45ab-82f1-ba64bd94d05e #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6e87722a-876a-45ab-82f1-ba64bd94d05e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6e87722a-876a-45ab-82f1-ba64bd94d05e #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6e87722a-876a-45ab-82f1-ba64bd94d05e #s-Callout_1 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-6e87722a-876a-45ab-82f1-ba64bd94d05e #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6e87722a-876a-45ab-82f1-ba64bd94d05e #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6e87722a-876a-45ab-82f1-ba64bd94d05e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6e87722a-876a-45ab-82f1-ba64bd94d05e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}