#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Triangle_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Triangle_2 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Triangle_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Triangle_4 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Line_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Triangle_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Triangle_6 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9986f9ef-0c85-4218-8aff-782172b67e8b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}