#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Ellipse_1 {
  stroke-width: 6px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Rectangle_1 {
  -ms-transform: rotate(67.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Rectangle_2 {
  -ms-transform: rotate(37.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Rectangle_3 {
  -ms-transform: rotate(175.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Triangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Triangle_2 {
  -ms-transform: rotate(180.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Line_1 {
  stroke-width: 2px;
  stroke: #6ACA25;
  -ms-transform: rotate(15.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Line_1 {
  stroke-width: 2px;
  stroke: #6ACA25;
  -ms-transform: rotate(15.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 29px;
  width: 50px;
  -ms-transform: rotate(0.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Callout_1 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-cd5b779e-2df0-4104-a9b2-b5dd92ff667e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}