#s-e24db54e-bd23-4b24-9574-4e40d48394da #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e24db54e-bd23-4b24-9574-4e40d48394da #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e24db54e-bd23-4b24-9574-4e40d48394da #s-Ellipse_1 {
  stroke-width: 6px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-e24db54e-bd23-4b24-9574-4e40d48394da #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e24db54e-bd23-4b24-9574-4e40d48394da #s-Rectangle_1 {
  -ms-transform: rotate(67.0deg);
}
#s-e24db54e-bd23-4b24-9574-4e40d48394da #s-Rectangle_2 {
  -ms-transform: rotate(37.0deg);
}
#s-e24db54e-bd23-4b24-9574-4e40d48394da #s-Rectangle_3 {
  -ms-transform: rotate(175.0deg);
}
#s-e24db54e-bd23-4b24-9574-4e40d48394da #s-Rectangle_4 {
  -ms-transform: rotate(67.0deg);
}
#s-e24db54e-bd23-4b24-9574-4e40d48394da #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e24db54e-bd23-4b24-9574-4e40d48394da #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e24db54e-bd23-4b24-9574-4e40d48394da #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e24db54e-bd23-4b24-9574-4e40d48394da #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e24db54e-bd23-4b24-9574-4e40d48394da #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e24db54e-bd23-4b24-9574-4e40d48394da #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e24db54e-bd23-4b24-9574-4e40d48394da #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e24db54e-bd23-4b24-9574-4e40d48394da > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}