#s-ecaa23b5-27f8-4bbf-8559-0cffdbd71c94 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ecaa23b5-27f8-4bbf-8559-0cffdbd71c94 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ecaa23b5-27f8-4bbf-8559-0cffdbd71c94 #s-Ellipse_1 {
  stroke-width: 6px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-ecaa23b5-27f8-4bbf-8559-0cffdbd71c94 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ecaa23b5-27f8-4bbf-8559-0cffdbd71c94 #s-Rectangle_2 {
  -ms-transform: rotate(42.0deg);
}
#s-ecaa23b5-27f8-4bbf-8559-0cffdbd71c94 #s-Rectangle_3 {
  -ms-transform: rotate(175.0deg);
}
#s-ecaa23b5-27f8-4bbf-8559-0cffdbd71c94 #s-Rectangle_4 {
  -ms-transform: rotate(67.0deg);
}
#s-ecaa23b5-27f8-4bbf-8559-0cffdbd71c94 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ecaa23b5-27f8-4bbf-8559-0cffdbd71c94 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ecaa23b5-27f8-4bbf-8559-0cffdbd71c94 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ecaa23b5-27f8-4bbf-8559-0cffdbd71c94 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ecaa23b5-27f8-4bbf-8559-0cffdbd71c94 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ecaa23b5-27f8-4bbf-8559-0cffdbd71c94 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ecaa23b5-27f8-4bbf-8559-0cffdbd71c94 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ecaa23b5-27f8-4bbf-8559-0cffdbd71c94 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}