#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Ellipse_1 {
  stroke-width: 6px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Rectangle_2 {
  -ms-transform: rotate(42.0deg);
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Rectangle_3 {
  -ms-transform: rotate(175.0deg);
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Rectangle_4 {
  -ms-transform: rotate(67.0deg);
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Callout_1 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}