#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Rectangle_2 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7431448254773942,M12=-0.6691306063588582,M21=0.6691306063588582,M22=0.7431448254773942);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7431448254773942,M12=-0.6691306063588582,M21=0.6691306063588582,M22=0.7431448254773942);
  margin-left: 4px;
  margin-top: -16px;
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Rectangle_3 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-0.9961946980917455,M12=-0.0871557427476582,M21=0.0871557427476582,M22=-0.9961946980917455);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-0.9961946980917455,M12=-0.0871557427476582,M21=0.0871557427476582,M22=-0.9961946980917455);
  margin-left: -2px;
  margin-top: -3px;
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Rectangle_4 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.3907311284892737,M12=-0.9205048534524404,M21=0.9205048534524404,M22=0.3907311284892737);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.3907311284892737,M12=-0.9205048534524404,M21=0.9205048534524404,M22=0.3907311284892737);
  margin-left: 48px;
  margin-top: -77px;
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fcf4bf23-2aa8-4067-9692-9d475fa35f4d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}